/*****************************************************************
    *   CSS reset from https://piccalil.li/blog/a-modern-css-reset/ 
    *****************************************************************/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: rgb(246, 246, 246);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*****************************************************************
              Our custom styling for the website
*****************************************************************/

body {
  position: relative;
  line-height: 1.2;
  min-height: 100vh;
}

a {
  color: white !important;
}

a:visited {
  color: white !important;
}

/* nav bar for desktops */
@media only screen and (min-width: 1024px) {
  .header {
    color: white;
    background-color: #10315B;
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    place-items: center;
    font-family: "Zodiak-Light", sans-serif;
  }

  a {
    margin-inline: 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: #B1868C;
  }

  .logo>a {
    color: white;
    font-family: "Zodiak-ExtraBold", sans-serif;
  }

  .cart>img {
    width: 20px;
    filter: invert(100%);
  }
}

/* nav bar for mobile and tablet screens */
@media only screen and (max-width: 1024px) {
  .header {
    color: white;
    background-color: #10315B;
    width: 100%;
    padding: 10px;
    place-items: center;
    font-family: "Zodiak-Light", sans-serif;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  a {
    margin-inline: 10px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: #B1868C;
  }

  .logo>a {
    color: white;
    font-family: "Zodiak-ExtraBold", sans-serif;
  }

  .cart>img {
    width: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    filter: invert(100%);
  }
}

/* footer for desktop */
@media only screen and (min-width: 1024px) {
  .footer {
    width: 100%;
    padding: 50px;
    background-color: #10315B;
  }

  .footer>hr {
    margin-inline: 5vw;
    border: 0.5px solid white;
  }

  .footer-icons {
    display: flex;
  }

  .footer-icons>img {
    width: 20px;
    margin: 5px;
  }

  .mainFooter {
    display: flex;
    justify-content: space-around;
  }

  .footerCol {
    margin-inline: 5vw;
    margin-block: 2vw;
    color: white;
    text-align: center;
  }

  .footerCol>h1 {
    font-size: 22px;
    font-family: "Zodiak-Bold", sans-serif;
  }

  .footerCol>h2 {
    font-size: 16px;
    font-family: "Zodiak-Light", sans-serif;
    font-weight: normal;
    margin-block: 10px;
  }

  .bottomFooter {
    display: flex;
    margin-inline: 5vw;
    justify-content: space-between;
  }

  .bottomFooter>h3 {
    color: white;
    font-weight: normal;
    font-size: 14px;
    font-family: "Zodiak-Light", sans-serif;
  }
}

/* footer for tablets */
@media only screen and (max-width: 1024px) {
  .footer {
    width: 100%;
    padding: 50px;
    background-color: #10315B;
  }

  .footer > hr {
    border: 0.5px solid white;
  }

  .footer-icons {
    display: flex;
  }

  .footer-icons>img {
    width: 20px;
    margin: 5px;
  }

  .mainFooter {
    display: flex;
    justify-content: space-between;
  }

  .footerCol {
    margin-block: 15px;
    color: white;
  }

  .footerCol>h1 {
    font-size: 20px;
    font-family: "Zodiak-Bold", sans-serif;
  }

  .footerCol>h2 {
    font-size: 16px;
    display: none;
    font-family: "Zodiak-Light", sans-serif;
  }

  .footer-icons {
    margin: auto;
  }

  .bottomFooter {
    display: flex;
    justify-content: space-between;
  }

  .bottomFooter > h3 {
    color: white;
    margin-block: 15px;
    font-weight: normal;
    font-size: 14px;
    font-family: "Zodiak-Light", sans-serif;
  }
}

/* footer for mobile screens */
@media only screen and (max-width: 600px) {
  .footer {
    width: 100%;
    padding: 50px;
    background-color: #10315B;
  }

  .footer > hr {
    border: 0.5px solid white;
  }

  .footer-icons {
    display: flex;
  }

  .footer-icons>img {
    width: 20px;
    margin: 5px;
  }

  .mainFooter {
    display: grid;
    align-items: center;
  }

  .footerCol {
    margin-block: 15px;
    color: white;
  }

  .footerCol>h1 {
    font-size: 18px;
  }

  .footerCol>h2 {
    display: none;
  }

  .footer-icons {
    margin: auto;
  }

  .bottomFooter {
    display: block;
    justify-content: space-between;
  }

  .bottomFooter > h3 {
    color: white;
    margin-block: 15px;
    font-weight: normal;
  }
}

/* heading text and subtext styles */
.headerText {
  text-align: center;
  font-family: "Zodiak-Bold", sans-serif;
  margin-block: max(6vh, 3vw);
  margin-inline: 5vw;
  font-size: 3vh;
}

.headerSubtext {
  text-align: center;
  font-family: "Zodiak-Regular", sans-serif;
  font-size: 2.5vh;
  font-weight: normal;

  /* make it closer to the headerText*/
  margin-top: -2.5vw;
  margin-inline: 5vw;
}

/* hero image for desktop screens */
@media only screen and (min-width: 1024px) {
  .hero-img {
    background-size: cover;
    width: 100%;
    height: 53vh;
    display: grid;
    place-items: center;
  }
  
  .hero-text {
    color: white;
    text-align: center;
  }
  
  .hero-text>h2 {
    color: white;
    font-family: "Zodiak-ExtraBold", sans-serif;
    font-size: 5vw;
  }
  
  .hero-text>h3 {
    color: white;
    font-family: "Zodiak-Regular", sans-serif;
    font-size: 3vw;
    font-weight: normal;
  }
}

/* hero image for mobile and tablet screens */
@media only screen and (max-width: 1024px) {
  .hero-img {
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: grid;
    place-items: center;
  }
  
  .hero-text {
    color: white;
    text-align: center;
  }
  
  .hero-text>h2 {
    color: white;
    font-family: "Zodiak-ExtraBold", sans-serif;
    font-size: max(7vh, 8vw);
  }
  
  .hero-text>h3 {
    color: white;
    font-size: max(3vh, 2vw);
    font-family: "Zodiak-Regular", sans-serif;
    font-weight: normal;
  }
}

/* mission statement */
.mission {
  background-color: #B1868C;
  width: 100%;
  text-align: center;
  padding-block: 100px;
  color: white;
}

.missionHeader {
  padding: 20px;
  font-size: 2.5vh;
  font-family: "Zodiak-ExtraBold", sans-serif;
}

.missionText {
  padding-bottom: 20px;
  font-size: 4vh;
  font-family: "Zodiak-Regular", sans-serif;
  margin-inline: 15vw;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vw;
  margin-top: 10vw - 10vh;
  font-family: "Georgia", serif;
}

.card {
  flex: 1 1 auto;
  margin-inline: 50px;
  margin-bottom: 50px;
  margin-top: 10vh;
  padding: 40px;

  background-color: #10315B;
  width: 200px;
  color: white;

  text-align: center;
}

.card>img {
  text-align: center;
  margin: auto;
  margin-top: -120px;
  margin-bottom: 30px;
  width: 80%;
}

.card>h1 {
  font-size: 2.7vh;
  font-family: "Zodiak-ExtraBold", sans-serif;
}

.card>h3 {
  padding-top: 30px;
  font-family: "Zodiak-Regular", sans-serif;
  font-weight: normal;
  font-size: 2.3vh;
}

/* carousel for desktop screens  */
@media only screen and (min-width: 1024px) {
  .carousel {
    max-width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    margin-block: 100px;
  }
  
  .slides {
    /* display: none; */
    width: 80%;
    margin-inline: 5px;
  }
  
  .next,
  .prev {
    border: 0px solid black;
    background-color: #10315B;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    margin: auto;
  }
  
  .next:hover,
  .prev:hover {
    background-color: #0a2345;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 0.7s;
  }
  
  @keyframes fade {
    from {
      opacity: .2
    }
  
    to {
      opacity: 1
    }
  }
}

/* carousel for mobile & tablet screens  */
@media only screen and (max-width: 1024px) {
  .carousel {
    max-width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    margin-block: 50px;
  }
  
  .slides {
    /* display: none; */
    width: 100%;
    z-index: -9;
  }
  
  .next {
    position: absolute;
    right: 15px;
    top: 25vw;
    border: 0px solid black;
    background-color: #10315B;
    color: white;
    width: 7vw;
    height: 7vw;
    border-radius: 100px;
    cursor: pointer;
    margin: auto;
  }

  .prev {
    position: absolute;
    left: 10px;
    top: 25vw;
    border: 0px solid black;
    background-color: #10315B;
    color: white;
    width: 7vw;
    height: 7vw;
    border-radius: 100px;
    cursor: pointer;
    margin: auto;
  }
  
  .next:hover,
  .prev:hover {
    background-color: #0a2345;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 0.7s;
  }
  
  @keyframes fade {
    from {
      opacity: .2
    }
  
    to {
      opacity: 1
    }
  }
}

/* testimonials for desktop screens */
@media only screen and (min-width: 1280px) {
  .testimonial {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline: 15vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  
  .testimonial>img {
    width: 12%;
    height: 12%;
  }
  
  .testimonialText>h1 {
    font-family: "Zodiak-Light", sans-serif;
    font-size: 3vh;
    text-align: right;
  }
  
  .testimonialText>h2 {
    text-align: right;
    font-weight: normal;
    font-family: "Zodiak-Bold", sans-serif;
    margin-top: 15px;
  }
  
  .testimonials>hr {
    margin-inline: 8vw;
    border: 0.5px solid rgb(206, 206, 206);
  }
}

/* testimonials for mobile & mobile screens */
@media only screen and (max-width: 1280px) {
  .testimonial {
    display: grid;
    place-items: center;
    text-align: center;
    margin-inline: 20vw;
    margin-block: 5vh;
    font-size: max(1.5vh, 1.2vw);
  }
  
  .testimonial>img {
    margin-bottom: 30px;
    margin-top: 15px;
  }
  
  .testimonialText>h1 {
    text-align: left;
    font-family: "Zodiak-Light", sans-serif;
  }
  
  .testimonialText>h2 {
    text-align: left;
    margin-top: 20px;
    font-weight: normal;
    font-family: "Zodiak-Bold", sans-serif;
  }
  
  .testimonials>hr {
    margin-inline: 8vw;
    border: 0.5px solid rgb(206, 206, 206);
  }
}

/* font faces */
@font-face {
  font-family: 'Zodiak-Light';
  src: url('./fonts/Zodiak-Light.woff2') format('woff2'),
       url('./fonts/Zodiak-Light.woff') format('woff'),
       url('./fonts/Zodiak-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url('./fonts/Zodiak-LightItalic.woff2') format('woff2'),
       url('./fonts/Zodiak-LightItalic.woff') format('woff'),
       url('./fonts/Zodiak-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Regular';
  src: url('./fonts/Zodiak-Regular.woff2') format('woff2'),
       url('./fonts/Zodiak-Regular.woff') format('woff'),
       url('./fonts/Zodiak-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-Italic';
  src: url('./fonts/Zodiak-Italic.woff2') format('woff2'),
       url('./fonts/Zodiak-Italic.woff') format('woff'),
       url('./fonts/Zodiak-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Bold';
  src: url('./fonts/Zodiak-Bold.woff2') format('woff2'),
       url('./fonts/Zodiak-Bold.woff') format('woff'),
       url('./fonts/Zodiak-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-BoldItalic';
  src: url('./fonts/Zodiak-BoldItalic.woff2') format('woff2'),
       url('./fonts/Zodiak-BoldItalic.woff') format('woff'),
       url('./fonts/Zodiak-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Extrabold';
  src: url('./fonts/Zodiak-Extrabold.woff2') format('woff2'),
       url('./fonts/Zodiak-Extrabold.woff') format('woff'),
       url('./fonts/Zodiak-Extrabold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-ExtraboldItalic';
  src: url('./fonts/Zodiak-ExtraboldItalic.woff2') format('woff2'),
       url('./fonts/Zodiak-ExtraboldItalic.woff') format('woff'),
       url('./fonts/Zodiak-ExtraboldItalic.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: italic;
}
