/*//////////////////////////////////////////////
//
//           CONTACT HEADER STYLING
//
/////////////////////////////////////////////*/


.form-header {
    padding-top: 3.5vw;
    padding-bottom: 2.5vw;
}

.form-header > hr {
    margin-inline: 20vw;
    border: 0.5px solid #19457A;
}

.form-header > h1 {
    margin-inline: 20vw;
    font-family: "Zodiak-Bold", sans-serif;
    color: #19457A;
}

/*//////////////////////////////////////////////
//
//            CONTACT FORM STYLING
//
/////////////////////////////////////////////*/

.contact-form {
    margin-inline: 20vw;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5%;
}

.contact-form > .form-input {
    flex: 2 1 45%;
}

.contact-form > .message {
    flex: 2 1 100%;
}

.contact-form label {
    font-family: "Zodiak-Regular", sans-serif;
    color: #10315B;
    padding-bottom: 10px;
}

.form-input {
    padding: 10px 0 10px 0;
    display:grid;
}

.form-input > input, textarea {
    border: 2px solid #3F70AA;
    border-radius: 10px;
    padding: 10px;
}

.message {
    padding: 10 0 10 0px;
    display:grid;
}

.message > textarea {
    line-height: 1.5vh;
    font-size:1.5vh;
}

input[type=submit] {
    border-radius: 3px;
    padding: 10px 5vw 10px 5vw;
    margin: 3vh 0 3vh auto;
    text-align: center;
    font-size: 3vh;
    transition: 0.3s;
    color: white;
    background-color:#19457A;
    cursor: pointer;
    border: 0px solid black;
    font-family: "Zodiak-Regular", sans-serif;
}

input[type=submit]:hover {
    background-color: rgb(63, 112, 170);
}

@media only screen and (min-width: 1024px) {
    .contact-info {
        display: flex;
        justify-content: space-between;
        margin-inline: 20vw;
        margin-top: 50px;
    }
    
    .contact-info > hr {
        border: 0.5px solid #10315B;
    }
    
    .contact-info-block {
        display: grid;
        place-items: center;
    }
    
    .contact-info-block > h2 {
        font-family: "Zodiak-Regular", sans-serif;
        font-size: 20px;
        text-align: center;
        color:#10315B;
    }
}

@media only screen and (max-width: 1024px) {
    .contact-info {
        margin-inline: 20vw;
        margin-top: 50px;
    }
    
    .contact-info > hr {
       display: none;
    }
    
    .contact-info-block {
        margin-block: 50px;
        display: flex;
        gap: 10px;
    }

    .contact-info-block > img {
        width: 8%;
        height: 8%;
    }
    
    .contact-info-block > h2 {
        font-family: "Zodiak-Regular", sans-serif;
        font-size: 20px;
        text-align: left;
        color:#10315B;
    }
}

/* font faces */
@font-face {
  font-family: 'Zodiak-Light';
  src: url('../fonts/Zodiak-Light.woff2') format('woff2'),
       url('../fonts/Zodiak-Light.woff') format('woff'),
       url('../fonts/Zodiak-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url('../fonts/Zodiak-LightItalic.woff2') format('woff2'),
       url('../fonts/Zodiak-LightItalic.woff') format('woff'),
       url('../fonts/Zodiak-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Regular';
  src: url('../fonts/Zodiak-Regular.woff2') format('woff2'),
       url('../fonts/Zodiak-Regular.woff') format('woff'),
       url('../fonts/Zodiak-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-Italic';
  src: url('../fonts/Zodiak-Italic.woff2') format('woff2'),
       url('../fonts/Zodiak-Italic.woff') format('woff'),
       url('../fonts/Zodiak-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Bold';
  src: url('../fonts/Zodiak-Bold.woff2') format('woff2'),
       url('../fonts/Zodiak-Bold.woff') format('woff'),
       url('../fonts/Zodiak-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-BoldItalic';
  src: url('../fonts/Zodiak-BoldItalic.woff2') format('woff2'),
       url('../fonts/Zodiak-BoldItalic.woff') format('woff'),
       url('../fonts/Zodiak-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'Zodiak-Extrabold';
  src: url('../fonts/Zodiak-Extrabold.woff2') format('woff2'),
       url('../fonts/Zodiak-Extrabold.woff') format('woff'),
       url('../fonts/Zodiak-Extrabold.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Zodiak-ExtraboldItalic';
  src: url('../fonts/Zodiak-ExtraboldItalic.woff2') format('woff2'),
       url('../fonts/Zodiak-ExtraboldItalic.woff') format('woff'),
       url('../fonts/Zodiak-ExtraboldItalic.ttf') format('truetype');
       font-weight: 800;
       font-display: swap;
       font-style: italic;
}
