/* services for desktop screens */
@media only screen and (min-width: 1024px) {
    .services {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      margin-inline: 15vw;
      margin-block: 100px;
    }
    
    .services>img {
      width: 70%;
    }
  
    .services-button {
      display: grid;
      place-items: center;
      margin-bottom: 70px;
    }
  
    .services-button > a > button {
      border: 0px solid black;
      padding-block: 20px;
      padding-inline: 40px;
      background-color:#143a6b;
      color: white;
      font-family: "Zodiak-Regular", sans-serif;
      cursor: pointer;
    }
  
    .services-button > a > button:hover {
      background-color:#0a2345;
    }
  }
  
  /* services for tablet screens */
  @media only screen and (max-width: 1024px) {
    .services {
      margin-inline: 20vw;
    }
    
    .services>img {
      width: 100%;
      margin-block: 50px;
    }
  
    .services-button {
      display: grid;
      place-items: center;
      margin-bottom: 50px;
    }
  
    .services-button > a > button {
      border: 0px solid black;
      padding-block: 20px;
      padding-inline: 40px;
      background-color:#143a6b;
      color: white;
      font-family: "Zodiak-Regular", sans-serif;
      cursor: pointer;
    }
  
    .services-button > a > button:hover {
      background-color:#0a2345;
    }
  }
  
  /* services for mobile screens */
  @media only screen and (max-width: 768px) {
    .services {
      margin-inline: 10vw;
    }
    
    .services>img {
      width: 100%;
      margin-block: 50px;
    }

    .services-button {
        display: grid;
        place-items: center;
        margin-bottom: 50px;
      }
    
      .services-button > a > button {
        border: 0px solid black;
        padding-block: 20px;
        padding-inline: 40px;
        background-color:#143a6b;
        color: white;
        font-family: "Zodiak-Regular", sans-serif;
        cursor: pointer;
      }
    
      .services-button > a > button:hover {
        background-color:#0a2345;
      }
  }
  
  /* font faces */
  @font-face {
    font-family: 'Zodiak-Light';
    src: url('./fonts/Zodiak-Light.woff2') format('woff2'),
         url('./fonts/Zodiak-Light.woff') format('woff'),
         url('./fonts/Zodiak-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Zodiak-LightItalic';
    src: url('./fonts/Zodiak-LightItalic.woff2') format('woff2'),
         url('./fonts/Zodiak-LightItalic.woff') format('woff'),
         url('./fonts/Zodiak-LightItalic.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Zodiak-Regular';
    src: url('./fonts/Zodiak-Regular.woff2') format('woff2'),
         url('./fonts/Zodiak-Regular.woff') format('woff'),
         url('./fonts/Zodiak-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Zodiak-Italic';
    src: url('./fonts/Zodiak-Italic.woff2') format('woff2'),
         url('./fonts/Zodiak-Italic.woff') format('woff'),
         url('./fonts/Zodiak-Italic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Zodiak-Bold';
    src: url('./fonts/Zodiak-Bold.woff2') format('woff2'),
         url('./fonts/Zodiak-Bold.woff') format('woff'),
         url('./fonts/Zodiak-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Zodiak-BoldItalic';
    src: url('./fonts/Zodiak-BoldItalic.woff2') format('woff2'),
         url('./fonts/Zodiak-BoldItalic.woff') format('woff'),
         url('./fonts/Zodiak-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }
  
  
  @font-face {
    font-family: 'Zodiak-Extrabold';
    src: url('./fonts/Zodiak-Extrabold.woff2') format('woff2'),
         url('./fonts/Zodiak-Extrabold.woff') format('woff'),
         url('./fonts/Zodiak-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Zodiak-ExtraboldItalic';
    src: url('./fonts/Zodiak-ExtraboldItalic.woff2') format('woff2'),
         url('./fonts/Zodiak-ExtraboldItalic.woff') format('woff'),
         url('./fonts/Zodiak-ExtraboldItalic.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: italic;
  }
  