.order-info {
    padding-top: 7.5vh;
    margin-left: 4%;
    width: 55%;
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    gap: 10%;
    padding-bottom:7.5vh;
}

.order-info > .cart-header {
    flex-basis: 100%;
}

.order-info > .item-list {
    flex-basis: 100%;
}

.order-info hr {
    flex-basis:100%;
    border: 0.5px solid #3F70AA;
}

.cart-header h1 {
    font-weight: normal;
    color: #19457A;
}
.summary {
    width: 28%;
    height: 40vh;
    padding-top: 13.5vh;
    position: fixed;
    top: 0;
    right: 0;
    margin-left:auto;
    margin-right:4%;
    display: flex;
    flex-flow: row wrap;
}

.summary hr {
    border: 0.5px solid #3F70AA;
}

.summary > .summary-header {
    flex-basis: 100%;
    text-align: left;
}

.summary > .price-name {
    flex-basis: 50%;
    text-align: left;
}

.summary > .price {
    flex-basis: 50%;
    text-align: right;
}

.summary > h3 {
    font-size: 18px;
}

.summary-header > h1 {
    font-weight: normal;
    color: #19457A;
}

/*////////////////////////////
//
//      shopping cart
//
////////////////////////////*/

.item {
    display:flex;
    gap: 10px;
    padding: 10px 0 10px 0;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.item > .img-description {
    display:flex;
    gap: 10px;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.item > .item-price {

    flex-grow:1;
    font-size:20px;
    text-align: center;
}
.img-description > img {
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
}

.item > .item-description {
    flex-grow:2;
}

.item-description > h2 {
    font-size: 15px;
    padding-bottom:4px;
}

.item-description > p {
    font-size: 10px;
}


.item > hr {

    flex-basis:100%;

}

.item > .break {
    flex-basis:100%;
    height:0;
}


.add-item {
    width:30%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .add-item > button {
        min-height:15px;
        min-width:15px;
        margin:15px;
    }

    .img-description > img {
        padding: 10px;
        min-width: 50px;
        min-height: 50px;
    }
    

}
.add-item > button {
    min-height:35px;
    min-width:35px;
    margin:15px;
    border: 0px;
    border-radius: 5px;
    background-color: #3F70AA;
    transition: 0.1s;
}

button > img{
    width:20px;
    margin:auto;
    filter:invert(1);
}

.add-item > button:hover {
    background-color: #B1868C;
}

/*maybe insert media query to adjust img size once*/
.item > .total-item-price {
    flex-basis: 10%;
    font-size: 20px;
    text-align: center;
}

input[type=button] {
    border-radius: 3px;
    width:100%;
    margin: 3vh 0 3vh auto;
    text-align: center;
    font-size: 3vh;
    transition: 0.3s;
    color: white;
    background-color: #19457A;
}

/*/////////////////////////////////////
///
//         Payment Details
///
/////////////////////////////////////*/
.payment-details {
    padding-top: 7.5vh;
    margin-left: 4%;
    width: 55%;
    display: flex;
    flex-flow: row wrap;
    align-items: row;
    gap: 10%;
    padding-bottom:7.5vh;
}

.payment-header {
    flex-basis: 100%;
}
.payment-header > h1 {

    font-weight: normal;
    color: #19457A;
}

.payment-details hr {
    width:100%;
    border: 0.5px solid #3F70AA;
}

.payment-options {
    display:flex;
    align-items: center;
    justify-content: left;
    height:7.5vh;
    flex-basis:100%;
    gap: 1.5%;
}

.payment-options > .visa {
    height:80%;
    background-color: #10315B;
    flex-basis:14%;
    border-radius: 12px;
}

.payment-options > .mastercard{
    height:80%;
    background-color: #10315B;
    flex-basis:14%;
    border-radius: 12px;
}

.payment-options > .paypal{
    height:80%;
    background-color: #10315B;
    flex-basis:14%;
    border-radius: 12px;
}

.cardInfo {
    width:100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 5%;
}

.cardInfo > .payment-header {
    flex-basis: 100%;
}

.cardInfo > .cardholderInfo {
    flex-basis: 100%;
    display:grid;
}

.cardInfo label {
    font-family: "Helvetica", sans-serif;
    color: #10315B;
    padding-bottom: 10px;
}

.cardholderInfo {
    padding: 10px 0 10px 0;
    display:grid;
}

.cardExpiration {
    display:grid;
}
.cardInfo input, textarea {
    border: 2px solid #3F70AA;
    border-radius: 10px;
    padding: 10px;
}

